# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2024 Joshua Goins <josh@redstrate.com>
[Desktop Entry]
Name=Novus SDK
Comment=FFXIV Data Editor
Exec=novus-karaku %u
Terminal=false
Icon=zone.xiv.karaku
Type=Application
NoDisplay=true