# SPDX-FileCopyrightText: 2023 Joshua Goins <josh@redstrate.com>
# SPDX-License-Identifier: CC0-1.0

*-build-*/
build/*
.idea/
.directory
.clang-format
# Windows
local/
prefix/
# Flatpak
*.flatpak
.flatpak-builder/
export/
