[submodule "extern/libphysis"]
	path = extern/libphysis
	url = ../libphysis
[submodule "extern/dxbc"]
	path = extern/dxbc
	url = ../dxbc
[submodule "extern/luadec51"]
	path = extern/luadec51
	url = ../luadec51
