# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 Joshua Goins <josh@redstrate.com>
[Desktop Entry]
Name=Novus SDK
Comment=FFXIV Gear Editor
Exec=novus-armoury %u
Terminal=false
Icon=zone.xiv.armoury
Type=Application
NoDisplay=true