<?xml version="1.0" encoding="UTF-8"?>
<gui name="exceleditor"
     version="1"
     xmlns="https://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="https://www.kde.org/standards/kxmlgui/1.0
                         https://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">
  <MenuBar>
    <Menu name="file" >
      <text>File</text>
      <Action name="import_list" />
      <Action name="download_list" />
      <Separator/>
      <Action name="quit"/>
    </Menu>
  </MenuBar>
</gui>
