<?xml version="1.0" encoding="UTF-8"?>
<gui name="exceleditor"
     version="3"
     xmlns="https://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="https://www.kde.org/standards/kxmlgui/1.0
                         https://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">
  <MenuBar>
    <Menu name="file" >
      <text>File</text>
      <Action name="import_list" />
      <Action name="download_list" />
      <Separator/>
      <Action name="quit"/>
    </Menu>
    <Menu name="edit" >
      <text>Edit</text>
      <Action name="search" />
    </Menu>
    <Menu name="View" >
      <Text>View</Text>
      <Action name="select_language" />
      <Separator/>
      <Action name="reset_sorting" />
    </Menu>
    <Menu name="navigate" >
      <text>Navigate</text>
      <Action name="goto_row" />
    </Menu>
  </MenuBar>
</gui>
