# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 Joshua Goins <josh@redstrate.com>
[Desktop Entry]
Name=Excel Editor
Comment=View and edit Excel sheets from FFXIV
Exec=novus-karuku %u
Terminal=false
Icon=zone.xiv.novus.exceleditor
Type=Application
MimeType=x-scheme-handler/novus-excel;
Categories=Game;
X-KDE-FormFactor=desktop;tablet;
Keywords=ffxiv;novus;
