<?xml version="1.0" encoding="UTF-8"?>
<gui name="mapeditor"
     version="2"
     xmlns="https://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="https://www.kde.org/standards/kxmlgui/1.0
                         https://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">
  <MenuBar>
    <Menu name="file" >
      <text>File</text>
      <Action name="open"/>
      <Separator/>
      <Action name="quit"/>
    </Menu>
    <Menu name="edit" >
      <text>Edit</text>
      <Action name="search" />
    </Menu>
    <Menu name="object" >
      <text>Object</text>
      <Action name="center_object"/>
    </Menu>
    <Menu name="duty" >
      <text>Duty</text>
      <Action name="duty_go_to_entrance"/>
      <Action name="duty_go_to_exit"/>
      <Action name="duty_gimmicks"/>
      <Action name="duty_effects"/>
    </Menu>
  </MenuBar>
</gui>
