# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2024 Joshua Goins <josh@redstrate.com>
[Desktop Entry]
Name=Novus SDK
Comment=Map Editor
Exec=novus-mapeditor %u
Terminal=false
Icon=zone.xiv.novus.mapeditor
Type=Application
NoDisplay=true
