# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 Joshua Goins <josh@redstrate.com>
[Desktop Entry]
Name=Novus SDK
Comment=Unofficial FFXIV SDK
Exec=novus-launcher %u
Terminal=false
Icon=zone.xiv.novus
Type=Application
